.nav-container {
  background-color: whitesmoke;
  height: 90px;
  display: flex;
  align-items: center;
  font-family: 'jamsil';
  justify-content: space-between;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item:hover {
  color: #FF7D00;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  vertical-align: middle;
}

.logo-img {
  width: 40px;
  vertical-align: middle;
}

.cart, .login {
  color: gray;
}


